<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="dtsConnectionString" connectionString="Data Source=192.168.25.2;Initial Catalog=dts;Persist Security Info=True;User ID=idts_sysadmin;Password=1dts@db@s3rv3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
